.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s;
}
.add-cell:hover {
  opacity: 1;
}
.divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  border-bottom: 1px solid gray;
  width: 95%;
  right: 2.5%;
  left: 2.5%;
  z-index: -1;
}
.add-buttons {
  display: flex;
  justify-content: center;
}

.add-cell .add-buttons button {
  margin: 0px 20px;
}
